<h1 class="uploadtypo">Welcome {{username}}!</h1>
<p class="uploadtypo">Here you can upload your posts:</p>

<!-- Upload form -->
<form
  class="uploadform"
  action="/create_post"
  enctype="multipart/form-data"
  method="post"
>
  <div class="uploadarea">
    <label for="title"><p class="loginp">Title:</p></label>
    <input type="text" id="title" name="title" required />
  </div>
  <div class="uploadarea">
    <label for="description"><p class="loginp">Description:</p></label>
    <textarea id="description" name="description" required></textarea>
  </div>
  <div class="uploadarea">
    <label for="category"><p class="loginp">Category:</p></label>
    <input type="text" id="category" name="category" required />
  </div>
  <div class="uploadarea">
    <label for="photo_url"><p class="loginp">Upload File:</p></label>
    <input type="file" id="photo_url" name="photo_url" required />
  </div>
  <div class="uploadarea">
    <button class="fat" type="submit">Submit</button>
  </div>
</form>

<!-- User's posts -->
<h2 class="uploadtypo">Your Posts</h2>
<ul>
  {{#each userPosts}}
    <li class="foryou-post">
      <div class="post1">
        <img
          src="/uploads/{{this.photo_url}}"
          alt="{{this.title}}"
          style="max-width: 300px;"
        />
        <div class="postcard">
          <h3>{{this.title}}</h3>
          <p>{{this.description}}</p>
          <p>Category: {{this.category}}</p>
          <p>Uploaded on: {{this.upload_date}}</p>
        </div>
      </div>

    </li>
  {{/each}}
</ul>