<h1 class="uploadtypo">Welcome {{username}}!</h1>
<p class="uploadtypo">Here you can upload your posts:</p>

<!-- Upload form -->
<form
  class="uploadform"
  action="/create_post"
  enctype="multipart/form-data"
  method="post"
>
  <label for="title"><p class="loginp">Title:</p></label>
  <input type="text" id="title" name="title" required />
  <br />

  <label for="description"><p class="loginp">Description:</p></label>
  <textarea id="description" name="description" required></textarea>
  <br />

  <label for="category"><p class="loginp">Category:</p></label>
  <input type="text" id="category" name="category" required />
  <br />

  <label for="photo_url"><p class="loginp">Upload File:</p></label>
  <input type="file" id="photo_url" name="photo_url" required />
  <br />

  <button class="fat" type="submit">Submit</button>
</form>

<hr />

<!-- User's posts -->
<h2>Your Posts:</h2>
<ul>
  {{#each userPosts}}
    <li>
      <h3>{{this.title}}</h3>
      <p>{{this.description}}</p>
      <img
        src="/uploads/{{this.photo_url}}"
        alt="{{this.title}}"
        style="max-width: 300px;"
      />
      <p>Category: {{this.category}}</p>
      <p>Uploaded on: {{this.upload_date}}</p>
    </li>
    <hr />
  {{/each}}
</ul>