<div class="startpage">
  <h1 class="starttypo">Welcome on FrameFame!</h1>

  <p class="starttypo">The platform where you can have your work rated.</p>

  <button class="startbutton"><a href="/foryou">Look at others work</a></button>
  <button class="startbutton"><a href="/new_post">Create a Post</a></button>

</div>

<!-- Section to Display Random Posts -->
<h2 class="typoh1">Random Posts</h2>
<div class="random-posts">
  {{#each posts}}
    <article class="random-post">
      <img
        src="/uploads/{{photo_url}}"
        alt="{{title}}"
        style="max-width: 200px;"
      />
      <div class="postcard">
        <h3>{{title}}</h3>
        <p>{{description}}</p>
        <p>Category: {{category}}</p>
      </div>
    </article>
  {{/each}}
</div>